<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
AuthUserFile /var/www/html/career-plus/ses/guide/.htpasswd
AuthGroupFile /dev/null
AuthName "ログインIDとパスワードを入力してください。"
AuthType Basic
require valid-user 
order deny,allow
