@charset "UTF-8";

/*=======================================================
タグリセット・clear部品
=======================================================*/
body,header,section,article,footer,div,h1,h2,h3,h4,h5,p,span,img,a,ul,li,dl,dt,dd{
	margin:0;
	padding:0;
	font-family:Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

/*CLEAR*/
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

.clearfix{
	min-height:1px;
	display:inline-block;
	display:block;
}

*html .clearfix{
	height:1px;
	/*\*//*/
	height:auto;
	overflow:hidden;
	/**/
}

.clear{clear:both;}

/*=======================================================
共通設定
=======================================================*/
body{
	width:100%;
	margin:0 auto;
	font-style:nomal;
	position:relative;
	background:url(../img/back_img.png);
}

header{
	margin:0 auto;
}

#contents{
	margin:0 auto;
	padding:10px 0;
}

footer{
	width:100%;
	background-color:#e8be2b;
}

footer a{
	color:#fff;
}

footer .copy{
	color:#fff;
}

/*=======================================================
PC向け設定
=======================================================*/
@media screen and (min-width:769px){

	.pc_d{display:none;}

	header{
		background:url(../img/main.jpg);
		background-size:cover;
		max-height:410px;
		border-bottom:2px solid #0560c6;
		padding:20px 0 10px 0;
	}
	
	header .head{
		width:900px;
		margin:0 auto;
	}
	
	header .head h1{
		font-size:68px;
		color:#fff;
		text-align:center;
		margin-bottom:15px;
		text-shadow:2px 2px 3px #250800;
		-ms-text-shadow:2px 2px 3px #250800;
		-moz-text-shadow:2px 2px 3px #250800;
		-webkit-text-shadow:2px 2px 3px #250800;
	}
	
	header .head .hbrion{
		width:280px;
		height:auto;
		float:left;
	}
	
	header .head .pickup{
		width:595px;
		float:right;
	}
	
	header .head .pickup p.yellow{
		margin:0 0 40px 0;
		line-height:300%;
	}
	
	header .head .pickup p.red{
		margin:0 0 20px 0;
		line-height:250%;
	}
	
	header .head .pickup p .intro{
		display:block;
		font-size:24px;
		color:#fff;
		text-shadow:2px 2px 3px #250800;
		-ms-text-shadow:2px 2px 3px #250800;
		-moz-text-shadow:2px 2px 3px #250800;
		-webkit-text-shadow:2px 2px 3px #250800;
	}
	
	header .head .pickup p .furikomi{
		display:block;
		font-size:48px;
		font-weight:bold;
		color:#feef07;
		text-shadow:2px 2px 3px #014082;
		-ms-text-shadow:2px 2px 3px #014082;
		-moz-text-shadow:2px 2px 3px #014082;
		-webkit-text-shadow:2px 2px 3px #014082;
	}
	
	header .head .pickup p .week{
		display:block;
		font-size:40px;
		font-weight:bold;
		color:#eb044a;
		text-shadow:2px 2px 3px #fafbfd;
		-ms-text-shadow:2px 2px 3px #fafbfd;
		-moz-text-shadow:2px 2px 3px #fafbfd;
		-webkit-text-shadow:2px 2px 3px #fafbfd;
	}
	
	#contents{
		width:990px;
		margin:0 auto;
		padding-top:30px;
	}
	
	#contents h2{
		font-size:24px;
		padding:10px;
		background-color:#2a4198;
		color:#febd33;
		width:220px;
		border-radius:10px 10px 0 0 / 10px 10px 0 0;
	}
	
	#contents .sp_list{
		border:2px solid #2a4198;
		padding:15px 2;
		background:#fff;
		margin-bottom:50px;
	}
	
	#contents .sp_list li{
		padding:25px 0 25px 25px;
		list-style:none;
		font-size:19px;
		font-weight:bold;
	}
	
	#contents .sp_list li:nth-child(2n){
		background:#dae2ff;
	}

	#contents .sp_list li span{
		text-decoration:underline;
		color:#f60415;
	}
	
	#contents .button_box{
		text-align:center;
		margin:0 auto;
		padding:0 0 80px 0;
	}
	
	#contents .button_box p{
		margin-bottom:5px;
		font-size:40px;
		font-weight:bold;
	}
	
	.midlle{
		height:60px;
		background:url(../img/ft_machi.png) repeat-x;
		background-position:bottom;
	}

	footer{
		padding:30px 0;
		text-align:center;
	}
	
	footer p{
		color:#fff;
		font-size:12px;
	}
}
/*PC設定 END*/
/*=======================================================
SP向け設定
=======================================================*/
@media screen and (max-width:768px){

	.sp_d{display:none;}

	header{
		background:url(../img/main.jpg);
		background-size:cover;

		border-bottom:2px solid #0560c6;
		padding:20px 0 10px 0;
		width:100%;
	}
	
	header .head{
		width:100%;
		margin:0 auto;
	}
	
	header .head h1{
		font-size:26px;
		color:#fff;
		text-align:center;
		margin-bottom:15px;
		text-shadow:2px 2px 3px #250800;
		-ms-text-shadow:2px 2px 3px #250800;
		-moz-text-shadow:2px 2px 3px #250800;
		-webkit-text-shadow:2px 2px 3px #250800;
	}
	
	header .head .hbrion{
		display:block;
		width:80%;
		margin:0 auto;
	}
	
	header .head .pickup{
		width:100%;
		text-align:center;
	}
	
	header .head .pickup p.yellow{
		margin:0 0 20px 0;
	}
	
	header .head .pickup p.red{
		margin:0 0 20px 0;
	}
	
	header .head .pickup p .intro{
		display:block;
		font-size:20px;
		color:#fff;
		text-shadow:2px 2px 3px #250800;
		-ms-text-shadow:2px 2px 3px #250800;
		-moz-text-shadow:2px 2px 3px #250800;
		-webkit-text-shadow:2px 2px 3px #250800;
	}
	
	header .head .pickup p .furikomi{
		display:block;
		font-size:26px;
		font-weight:bold;
		color:#feef07;
		text-shadow:2px 2px 3px #014082;
		-ms-text-shadow:2px 2px 3px #014082;
		-moz-text-shadow:2px 2px 3px #014082;
		-webkit-text-shadow:2px 2px 3px #014082;
	}
	
	header .head .pickup p .week{
		display:block;
		font-size:20px;
		font-weight:bold;
		color:#eb044a;
		text-shadow:1px 1px 1px #fafbfd;
		-ms-text-shadow:1px 1px 1px #fafbfd;
		-moz-text-shadow:1px 1px 1px #fafbfd;
		-webkit-text-shadow:1px 1px 1px #fafbfd;
	}
	
	#contents{
		width:90%;
		margin:0 auto;
		padding:40px 10px 20px 10px;
	}
	
	#contents h2{
		font-size:24px;
		padding:10px;
		background-color:#2a4198;
		color:#febd33;
		text-align:center;
		border-radius:10px 10px 0 0 / 10px 10px 0 0;
	}
	
	#contents .sp_list{
		border:2px solid #2a4198;
		padding:10px 0;
		background:#fff;
		margin-bottom:30px;
	}
	
	#contents .sp_list li{
		padding:15px 10px;
		list-style:none;
		font-size:16px;
		font-weight:bold;
	}
	
	#contents .sp_list li:nth-child(2n){
		background:#dae2ff;
	}

	#contents .sp_list li span{
		text-decoration:underline;
		color:#f60415;
	}

	#contents .button_box{
		text-align:center;
		margin:0 auto;
		padding:0 0 80px 0;
	}
	
	#contents .button_box p{
		margin-bottom:5px;
		font-size:18px;
		font-weight:bold;
	}

	.midlle{
		height:60px;
		background:url(../img/ft_machi.png) repeat-x;
		background-position:bottom;
	}
	
	footer{
		width:100%;
		padding:30px 0;
		text-align:center;
	}
	
	footer p{
		color:#fff;
		font-size:12px;
	}
}
/*SP設定 END*/

























