SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|ico)$ no-gzip dont-vary
Header append Vary User-Agent env=!dont-vary

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.career-plus.co.jp/$1 [R=301,L]
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(career-plus\ .co.jp)(:80)?
RewriteRule ^(.*) https://www.career-plus.co.jp/$1 [R=301,L]

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://www.career-plus.co.jp/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

Options +ExecCGI
AddType application/x-httpd-cgi .cgi
